.error404 {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    header {
        justify-content: center;
        nav, .header__button, .hamburger, .header__call-icon {
            display: none !important;
        }

    }

    .header__wrapper {
        justify-content: center;
    }

    .page-404 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

        main {
            width: 843px;

            @media (max-width: 834px) {
                padding: 45px;
            }
        }

        h1 {
            font-size: 236px;
            color: $shadow;
            font-weight: 400;
            position: relative;
            text-align: center;

            @media (max-width: 834px) {
                font-size: 165px;
            }

            &::before {
                content: "Error";
                font-size: 16px;
                color: $shadow;
                position: absolute;
                bottom: 167px;
            }
        }

        p {
            color: $shadow;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 25px;
            margin-bottom: 35px;
        }

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                width: 139px;
                height: 39px;
                margin: 0 auto;
            }
        }
    }
}