.admission {
    padding: 0 380px 0px 380px;

    @media (max-width: 1600px) {
        padding: 0 94px 0px 94px;
    }

    @media (max-width: 840px) {
        padding: 0 50px 0px 50px;
    }

    @media (max-width: 400px) {
        padding: 0 20px 0px 20px;
    }

    h5 {
        background-color: white;
        border: none;
        padding: 12px 0 12px 0 !important;
        cursor: pointer;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid $tan;
        border-radius: 0 !important;
        outline: none !important;
        opacity: 1;

        &:first-child {
            border-top: none;
        }
        
        p {
            font-size: $h5-size !important;
            color: $shadow !important;
            font-family: $alegreyaSans;
            margin: 0;
            padding: 0;

            @media (max-width: 840px) {
                font-size: $p-small !important;
            }
        }

        .ui-icon-triangle-1-e, .ui-icon-triangle-1-s {
            display: none !important;
        }

        .arrow {
            content: "";
            transition: ease .04s;
            display: inline-block;
            border-bottom: 2px solid $shadow;
            border-left: 2px solid $shadow;
            width: 12px;
            height: 12px;
            transform: rotate(-45deg);
            margin: 3px 10px;
            margin-right: 22px;
            pointer-events: none;
            position: relative;
            right: -15px;
        }
    }

    .admission__content {
        p {
            opacity: 0 !important;
            transition: opacity 0.3s ease-in;
        }
    }

    
    .admission__content[aria-hidden="true"] {
        p {
            opacity: 0 !important;
        }
    }

    .ui-accordion-header-active {
        
        .arrow {
            transform: rotate(135deg) !important;
        }
    }

    .ui-accordion .ui-accordion-content {
        padding-bottom: 0px !important;
    }
    
    .ui-accordion-content-active {
        border-radius: 0 !important;
        p {
            opacity: 1 !important;
            transition: opacity 0.3s ease-in;
        }
    }

    &__content {
        border: none;
        padding-left: 0 !important;

        p {
            font-size: $p-smaller !important;
            font-family: $alegreyaSans;
            line-height: 19.5px;
        }
    }

}

    .last-row-container {
        height: 2px;
        padding-left: 380px;
        padding-right: 380px;
        margin-bottom: 100px;

        .last-row {
            width: 100%;
            height: 2px;
            background-color: $tan;
        }

        @media (max-width: 1600px) {
            padding-left: 94px;
            padding-right: 94px;
            margin-bottom: 100px;
        }
    
        @media (max-width: 840px) {
            padding-left: 50px;
            padding-right: 50px;
            margin-bottom: 75px;
        }
    
        @media (max-width: 400px) {
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 50px;
        }
    }