.admission {
    max-width: 995px;
    margin: 0 auto;

    @media (max-width: 1040px) {
        max-width: 980px;
        padding: 0 40px;
    }

    @media (max-width: 940px) {
        max-width: 100%;
    }

    @media (max-width: 580px) {
        padding: 0 20px;
    }

    @media (max-width: 480px) {
    }

    h5 {
        background-color: white;
        border: none;
        padding: 12px 0 12px 0 !important;
        cursor: pointer;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid $tan;
        border-radius: 0 !important;
        outline: none !important;
        opacity: 1;

        &:first-child {
            border-top: none;
        }
        
        p {
            font-size: $h5-size !important;
            color: $shadow !important;
            font-family: $alegreyaSans;
            margin: 0;
            padding: 0;

            @media (max-width: 840px) {
                font-size: $p-small !important;
            }
        }

        .ui-icon-triangle-1-e, .ui-icon-triangle-1-s {
            display: none !important;
        }

        .arrow {
            content: "";
            transition: ease .04s;
            display: inline-block;
            border-bottom: 2px solid $shadow;
            border-left: 2px solid $shadow;
            border-top: none !important;
            border-right: none !important;
            width: 12px;
            height: 12px;
            transform: rotate(-45deg);
            margin: 3px 10px;
            margin-right: 22px;
            pointer-events: none;
            position: relative;
            right: -15px;
        }
    }

    .admission__content {
        p {
            opacity: 0 !important;
            transition: opacity 0.3s ease-in;
        }
    }

    
    .admission__content[aria-hidden="true"] {
        p {
            opacity: 0 !important;
        }
    }

    .ui-accordion-header-active {
        
        .arrow {
            transform: rotate(135deg) !important;
        }
    }

    .ui-accordion .ui-accordion-content {
        padding-bottom: 0px !important;
    }
    
    .ui-accordion-content-active {
        border-radius: 0 !important;
        p {
            opacity: 1 !important;
            transition: opacity 0.3s ease-in;
        }
    }

    &__content {
        border: none;
        padding-left: 0 !important;

        p, li span, li {
            font-size: $p-smaller !important;
            font-family: $alegreyaSans;
            line-height: 19.5px;
            color: $gray;
        }

        li::marker {
            color: $gray;
        }
    }

}

    .last-row-container {
        height: 2px;
        max-width: 995px;
        margin: 0 auto;
        margin-bottom: 145px;

        .last-row {
            width: 100%;
            height: 2px;
            background-color: $tan;
        }

        @media (max-width: 1280px) {
            margin-bottom: 50px;
        }

        @media (max-width: 1080px) {
            margin-bottom: 32px;
        }

        @media (max-width: 1040px) {
            max-width: 980px;
            padding: 0 40px;
        }

        @media (max-width: 940px) {
            max-width: 100%;
        }

        @media (max-width: 580px) {
            padding: 0 20px;
        }
    }