.legal {
    padding: 0 40px 96px 40px;
    margin: 0 auto;
    max-width: 1280px;
    @media (max-width: 1241px) {
        max-width: 1080px;
    }
    @media (max-width: 768px) {
        padding: 0 40px 64px 40px;
    }
    @media (max-width: 580px) {
        padding: 0 20px 64px 20px;
    }
    @media (max-width: 480px) {
        padding: 0 20px 64px 20px;
    }

    h1 {
        margin-top: 92px;
        font-size: 39px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            margin-top: 48px;
            font-size: 31px;
            margin-bottom: 20px;
        }
        @media (max-width: 480px) {
            margin-top: 48px;
            font-size: 25px;
            margin-bottom: 16px;
        }
    }

    h2 {
        margin-top: 92px;
        font-size: 39px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            font-size: 31px;
            margin-top: 48px;
            margin-bottom: 20px;
        }
        @media (max-width: 480px) {
            font-size: 25px;
            margin-bottom: 16px;
            margin-top: 64px;
        }
    }

    p {
        line-height: 20px;
        font-size: $p-smaller;
        margin-bottom: 20px;
    }

    &__links {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        @media (max-width: 768px) {
            margin-top: 40px;
        }
        @media (max-width: 480px) {
            margin-top: 64px;
        }
        a {
            font-size: $p-small;
            font-weight: 400;
            font-family: $alegreya;
            color: $mustard-green;
            text-decoration: underline;
            text-underline-offset: 3px;
            text-decoration-thickness: 1px;

            @media (max-width: 375px) {
                font-size: 19px;
            }
            @media (max-width: 320px) {
                font-size: 16px;
            }
            &:nth-child(2) {
                margin: 0 30px;

                @media (max-width: 480px) {
                    margin: 0 10px;
                }

                @media (max-width: 375px) {
                    margin: 0 7px;
                }
            }
        }
        .active {
            color: $quick-silver;
        }
    }
}