.photo-title {
    height: auto;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 40px;
    margin-top: 54px;
    margin-bottom: 115px;
    @media (max-width: 1241px) {
        max-width: 1080px;
        margin-top: 0;
    }
    @media (max-width: 1080px) {
        padding: 0;
        margin-bottom: 167px;
    }
    @media (max-width: 769px) {
        margin-bottom: 167px;
    }
    @media (max-width: 480px) {
        margin-bottom: 132px;
    }
    &.button-exist {
        @media (max-width: 1080px) {
            margin-bottom: 210px;
        }
        @media (max-width: 769px) {
            margin-bottom: 190px;
        }
        @media (max-width: 480px) {
            margin-bottom: 198px;
        }
    }
    &__container {
        display: flex;
        justify-content: flex-end;
        position: relative;

        &__image {
            width: 1000px;
            height: 600px;
            background-position: center center;
            background-size: cover;
            position: relative;
            @media (max-width: 1241px) {
                width: 840px;
            }
            @media (max-width: 1080px) {
                width: 100%;
            }
            @media (max-width: 768px) {
                height: 400px;
                background-position: center center;
                background-size: cover;
            }
            @media (max-width: 400px) {
                height: 300px;
            }

            img {
                position: absolute;
                top: 0;
                right: 0px;
                @media (max-width: 1080px) {
                    width: 300px;
                }
                @media (max-width: 768px) {
                    width: 250px;
                }
                @media (max-width: 480px) {
                    width: 150px;
                }
            }

            .text {
                width: 880px;
                height: 112px;
                @include flexCenter($direction: row);
                background-color: $green-white;
                position: absolute;
                z-index: 1;
                bottom: -20px;
                left: -160px;
                opacity: 0.95;
                @media (max-width: 1080px) {
                    width: 100%;
                    height: 100px;
                    bottom: -100px;
                    left: 0;
                    right: 0;
                }

                h1 {
                    font-size: $h3-size;
                    @media (max-width: 768px) {
                        font-size: 31px;
                    }
                }
            }
        }

        .back-button {
            position: absolute;
            top: -9px;
            left: 30px;
            @media (max-width: 1080px) {
                top: initial;
                left: 0;
                bottom: 0;
            }

            @media (max-width: 580px) {
                left: -20px;
            }

            @media (max-width: 480px) {
                left: 0px;
            }
            a {
                font-size: $p-thin;
                font-weight: $p-normal-weight;
                font-family: $p-family;
                color: #85876A;
                text-decoration: none;
                text-transform: none;
                position: relative;

                &:hover {
                    color: $chilled-cucumber;

                    &::before {
                        background-color: $chilled-cucumber;
                    }
                }

                &:focus {
                    color: #85876A;

                    &::before {
                        background-color: #85876A;
                    }
                }

                @media (max-width: 1080px) {
                    left: 65px;
                    bottom: -140px;
                }

                @media (max-width: 450px) {
                    left: 50px;
                }

                &::before {
                    content: '';
                    mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0129 0.313349C11.5871 -0.10445 10.9007 -0.10445 10.4749 0.313349L3.25416 7.39888C2.91528 7.73141 2.91528 8.26858 3.25416 8.60112L10.4749 15.6867C10.9007 16.1045 11.5871 16.1045 12.0129 15.6867C12.4387 15.2689 12.4387 14.5953 12.0129 14.1775L5.7219 7.99574L12.0216 1.81402C12.4387 1.40474 12.4387 0.722622 12.0129 0.313349Z' fill='%2385876A'/%3E%3C/svg%3E") no-repeat 50% 50%;
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    left: -30px;
                    top: -0.06rem;
                    mask-size: cover;
                    background-color: #85876A;
                }
            }
        }

    }

}