.services {
    position: relative;

    .pattern {
        position: absolute;
        width: 70%;
        left: 0;
        top: 110px;
        height: 842px;

        @media (max-width: 1260px) {
            height: 570px;
        }

        @media (max-width: 1040px) {
            height: 1290px;
        }

        @media (max-width: 769px) {
            height: 960px;
        }

        @media (max-width: 400px) {
            display: none;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1280px;
        flex-direction: row;
        margin: 0 auto;
        padding: 0 40px 52px 40px;

        @media (max-width: 1260px) {
            height: 900px;
        }

        @media (max-width: 1241px) {
            max-width: 1080px;
        }

        @media (max-width: 1040px) {
            max-width: 980px;
            height: fit-content;
        }

        @media (max-width: 940px) {
            max-width: 100%;
        }

        @media (max-width: 769px) {
            width: 100%;
            padding: 0 65px 52px;
        }

        @media (max-width: 755px) {
            width: 100%;
            padding: 0 20px 52px;
        }

        @media (max-width: 400px) {
            height: 800px;
        }


        &__cards-container {
            width: 386px;
            height: 400px;
            margin-bottom: 50px;

            @media (max-width: 1263px) {
                width: 320px;
            }

            @media (max-width: 1040px) {
                width: 380px;
            }

            @media (max-width: 850px) {
                width: 320px;
            }

            @media (max-width: 560px) {
                padding-right: 10px;
                padding-left: 10px;
            }

            @media (max-width: 400px) {
                padding-right: 8px;
                padding-left: 8px;
            }

            h2 {
                text-align: center;
                margin-bottom: 10px;
                font-size: $h5-size;

                @media (max-width: 1260px) {
                    margin-bottom: 20px;
                }
            }

            &__card {
                position: relative;
                width: 386px;

                @media (max-width: 1263px) {
                    width: 320px;
                }

                @media (max-width: 1040px) {
                    width: 380px;
                }

                @media (max-width: 850px) {
                    width: 320px;
                }

                @media (min-width: 769px) {
                    height: 350px;
                }

                @media (max-width: 769px) {
                    @include flexCenter($direction: column);
                }

                @media (max-width: 755px) {
                    width: 450px;
                }
                
                &__paragraph {
                    position: absolute;
                    opacity: 0;
                    z-index: 2;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-color: #fff9f1eb;
                    height: 350px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 1263px) {
                        width: 320px;
                    }

                    @media (max-width: 1040px) {
                        width: 380px;
                    }

                    @media (max-width: 850px) {
                        width: 320px;
                    }

                    @media (min-width: 769px) {
                        width: 100%;
                    }


                    @media (max-width: 769px) {
                        position: static;
                        order: 2;
                        height: fit-content;
                        background-color: transparent;
                        margin-top: 20px;
                        width: 320px;
                        opacity: 1;
                    }

                    @media (max-width: 755px) {
                        width: 450px;
                    }

                    @media (max-width: 400px) {
                        width: 310px;
                        height: fit-content;
                    }

                    p {
                        font-family: $alegreyaSans;
                        color: $shadow;
                        font-weight: $p-medium-weight;
                        font-size: $p-smaller;
                        line-height: 19.5px;
                        text-align: center;
                        padding: 0 20px 0 20px;

                        @media (max-width: 769px) {
                            font-size: $p-small;
                            text-align: left;
                            line-height: 24px;
                            font-weight: $p-normal-weight;
                            padding: 0;
                        }

                        &:nth-child(2) {
                            padding-left: 15px;
                        }
                    }
                }
 
                .services__container__cards-container__card__paragraph.fade-in {
                    opacity: 1;
                    transition: opacity 0.3s ease-in;
                }

                img {
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;

                    @media (min-width: 769px) {
                        height: 100%;
                        width: 100%;
                    }

                    @media (max-width: 769px) {
                        position: static;
                        order: 1;
                        width: 320px;
                        height: 400px;
                    }

                    @media (max-width: 755px) {
                        width: 450px;
                    }

                    @media (max-width: 650px) {
                        height: auto;
                    }

                    @media (max-width: 400px) {
                        width: 310px;
                        height: auto;
                    }
                }
            }
        }

        .slick-slide {
            @media (max-width: 769px) {
                margin: 0 27px;
            }
            @media (max-width: 755px) {
                margin: 0 40px;
            }
        }
      
        .slick-list {
            @media (max-width: 769px) {
                margin: 0 -27px;
            }
            @media (max-width: 755px) {
                margin: 0 -40px;
            }
        }

        .slick-list.draggable {
            height: 1000px;


            @media (max-width: 650px) {
                height: 950px;
            }

            @media (max-width: 450px) {
                height: 850px;
            }
        }

        .slick-dots {
            @media (max-width: 650px) {
                position: relative;
                bottom: 70px;
            }
            @media (max-width: 450px) {
                bottom: 0px;
            }
        }


        button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
            display: none !important;
        }

    }
}