.services {
    position: relative;

    @media (max-width: 480px) {
        padding-top: 16px;
    }

    .pattern {
        position: absolute;
        width: 70%;
        left: 0;
        top: 110px;
        height: 842px;

        @media (max-width: 1260px) {
            height: 570px;
        }

        @media (max-width: 1040px) {
            height: 1290px;
        }

        @media (max-width: 769px) {
            bottom: 0;
            height: 100%;
            top: 0;
        }

        @media (max-width: 480px) {
            display: none;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1280px;
        flex-direction: row;
        margin: 0 auto;
        padding: 0 40px 52px 40px;

        @media (max-width: 1260px) {
            height: 900px;
        }

        @media (max-width: 1241px) {
            max-width: 1080px;
        }

        @media (max-width: 1040px) {
            max-width: 980px;
            height: fit-content;
        }

        @media (max-width: 940px) {
            max-width: 100%;
        }

        @media (max-width: 769px) {
            width: 100%;
            padding: 0;
        }

        &__cards-container {
            width: 386px;
            height: 400px;
            margin-bottom: 50px;

            @media (max-width: 1263px) {
                width: 313px;
            }

            @media (max-width: 1040px) {
                width: 380px;
            }

            @media (max-width: 850px) {
                width: 320px;
            }

            @media (max-width: 769px) {
                height: fit-content;
            }


            @media (max-width: 480px) {
                padding-left: 50px;
                padding-right: 50px;
            }

            @media (max-width: 300px) {
                padding-left: 57.5px;
                padding-right: 57.5px;
            }


            h2 {
                text-align: center;
                margin-bottom: 10px;
                font-size: $h5-size;

                @media (max-width: 769px) {
                    margin-bottom: 16px;
                }
            }

            &__card {
                position: relative;
                width: 386px;

                @media (max-width: 1263px) {
                    width: 320px;
                }

                @media (max-width: 1040px) {
                    width: 380px;
                }

                @media (max-width: 850px) {
                    width: 320px;
                }

                @media (min-width: 769px) {
                    height: 350px;
                }

                @media (max-width: 769px) {
                    @include flexCenter($direction: column);
                }

                @media (max-width: 700px) {
                    width: 282px;
                }

                @media (max-width: 480px) {
                    width: 313px;
                }

                @media (max-width: 300px) {
                    width: 280px;
                }
                
                &__paragraph {
                    position: absolute;
                    opacity: 0;
                    z-index: 2;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-color: #fff9f1eb;
                    height: 350px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    @media (max-width: 1263px) {
                        width: 320px;
                    }

                    @media (max-width: 1040px) {
                        width: 380px;
                    }

                    @media (max-width: 850px) {
                        width: 320px;
                    }

                    @media (min-width: 769px) {
                        width: 100%;
                    }


                    @media (max-width: 769px) {
                        position: static;
                        order: 2;
                        height: fit-content;
                        background-color: transparent;
                        margin-top: 16px;
                        width: 100%;
                        opacity: 1;
                    }

                    @media (max-width: 400px) {
                        height: fit-content;
                    }

                    p {
                        font-family: $alegreyaSans;
                        color: $shadow;
                        font-weight: $p-medium-weight;
                        font-size: $p-smaller;
                        line-height: 19.5px;
                        text-align: center;
                        padding: 0 20px 0 20px;

                        @media (max-width: 769px) {
                            font-size: $p-small;
                            text-align: left;
                            line-height: 24px;
                            font-weight: $p-normal-weight;
                            padding: 0;
                        }
                    }
                }
 
                .services__container__cards-container__card__paragraph.fade-in {
                    opacity: 1;
                    transition: opacity 0.3s ease-in;
                }

                img {
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;

                    @media (min-width: 769px) {
                        height: 100%;
                        width: 100%;
                    }

                    @media (max-width: 769px) {
                        position: static;
                        order: 1;
                        width: 100%;
                        height: 240px;
                    }

                    // @media (max-width: 755px) {
                    //     width: 450px;
                    // }

                    @media (max-width: 650px) {
                        height: auto;
                    }
                }
            }
        }

        .slick-slide {
            @media (max-width: 769px) {
                margin: 0 22px;
            }

            @media (max-width: 480px) {
                margin: initial;
            }
        }
      
        .slick-list {
            @media (max-width: 769px) {
                margin: 0 -22px;
            }

            @media (max-width: 480px) {
                margin: initial;
            }
        }

        .slick-track {
            margin-left: auto;
            margin-right: auto;
            left: -180px;

            @media (max-width: 700px) {
                left: -161px;
            }

            @media (max-width: 620px) {
                left: 0px;
            }

            @media (max-width: 480px) {
                left: initial;
                margin-left: initial;
                margin-right: initial;
            }
        }

        .slick-dots {
            @media (max-width: 769px) {
                position: relative;
                bottom: 35px;
            }

            .slick-active {
                @media (max-width: 769px) {
                    width: 35px;
                    border-radius: 10px;
                }
                @media (max-width: 620px) {
                    width: 15px;
                    border-radius: 50%;
                }
            }
        }


        button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
            display: none !important;
        }

    }
}