.slider-link {
    padding-bottom: 48px;
    @media (max-width: 768px) {
        padding-bottom: 32px;
    }
    p {
        padding: 0 35px;
        width: 1092px;
        margin: 0 auto;
        margin-bottom: 24px;
        font-size: $p-smaller;
        line-height: 19.5px;
        text-align: center;
        margin-top: 24px;

        @media (max-width: 1026px) {
            width: 100%;
            padding: 0 20px;
            font-size: $p-smaller;
            margin-top: 30px;
            margin-bottom: 36px;
        }

        @media (max-width: 768px) {
            margin-top: 24px;
            margin-bottom: 32px;
        }

        @media (max-width: 480px) {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }

    &__links {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 109;
        column-gap: 32px;

        a {
            border-bottom: 1px solid transparent;            
            padding-bottom: 2px;
            color: $mustard-green;
            text-decoration: none;
            cursor: pointer;
            font-size: $p-smaller;

            &:focus-visible {
                border: 2px solid black;
                outline: 2px solid yellow;
            }

            &:first-of-type {
                margin-right: 20px;

                @media (max-width: 500px) {
                    margin-right: 0;
                    margin-bottom: 7px;
                }
            }

            &:hover {
                color: $terracotta;
                border-bottom: 1px solid $terracotta;
            }

            &:active {
                color: $quick-silver;
                border-bottom: 1px solid $quick-silver;
            }
        }

        @media (max-width: 500px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__slider {
        position: relative;
        width: 1092px;
        height: auto;
        margin: 0 auto;

        @media (max-width: 1280px) {
            width: 1028px;
        }

        @media (max-width: 1240px) {
            width: 1000px;
        }

        @media (max-width: 1026px) {
            width: 100%;
            margin: 0;
        }

        img {
            width: 100%;
            height: 665px;

            @media (max-width: 1280px) {
                height: 626px;
            }

            @media (max-width: 1026px) {
                height: auto;
            }
        }

        .slick-dots {
            margin-top: 32px;

            @media (max-width: 768px) {
                margin-top: 16px;
            }
        }

        .next-arrow, .prev-arrow {
            &:hover {
                path {
                    fill: $orinoco;
                }
            }
        }
    }
}