.testimonial-comments {
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1280px;

    @media (max-width: 1241px) {
        max-width: 1080px;
    }
    @media (max-width: 940px) {
        max-width: 100%;
        padding: 0 20px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    &__paragraph {
        padding-bottom: 48px;
        margin: 0;

        @media (max-width: 940px) {
            padding-bottom: 32px;
        }

        @media (max-width: 480px) {
            padding-bottom: 0px;
        }
    }

    &__container {
        padding-bottom: 72px;
        @media (max-width: 940px) {
            padding-bottom: 52px;
        }
        @media (max-width: 480px) {
            padding-bottom: 64px;
        }
        p {
            text-align: center;
        }

        .author {
            margin-bottom: 24px;
            margin-top: 48px;

            @media (max-width: 940px) {
                margin-top: 32px;
            }

            @media (max-width: 480px) {
                margin-top: 30px;
            }
        }

        .comment {
            margin-bottom: 48px;

            @media (max-width: 940px) {
                margin-bottom: 32px;
            }

            @media (max-width: 480px) {
                margin-bottom: 30px;
            }
        }

        .line {
            width: 200px;
            height: 2px;
            background-color: $tan;
            margin: 0 auto;
        }

        .pagination {
            font-family: $alegreya;
            font-size: 20px;
            font-weight: 400;

            &__container {
                margin: 0 auto;
            }

            .next, .prev {
                display: none;
            }

            .page-numbers {
                padding-left: 6px;
                padding-right: 6px;
                color: $dark-gray;

                &.current {
                    color: #85876A;
                }
            }
        }
    }

    &__content {
        &.last-of-page, &.single-comment, &.two-comments, &.three-comments {
            .line {
                display: none;
            }
        }
    }
}