.two-columns {
    // background-color: $pale-silver;

    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: $h3-size;
        font-weight: 400;
        color: $shadow;
        @media (max-width: 900px) {
            font-size: $h4-size;
        }
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }

    p {
        text-align: left;
        font-size: $p-smaller;
        font-weight: 400;
        line-height: 24px;
        color: $gray;
        margin-bottom: 16px;
        @media (max-width: 900px) {
            line-height: 22px;
        }
        @media (max-width: 480px) {
            text-align: center;
        }
    }

    &__container {
        display: block;
        margin: 0 auto;
        max-width: 1280px;
        padding: 0 40px 50px 40px;

        @media (max-width: 1241px) {
            max-width: 1000px;
            padding: 0px 0px 50px 0px;
        }
    
        @media (max-width: 1040px) {
            max-width: 980px;
            padding: 0px 40px 50px 40px;
        }
    
        @media (max-width: 900px) {
            max-width: 100%;
            padding: 0px 40px 50px 40px;
        }

        @media (max-width: 580px) {
            padding: 0px 20px 50px 20px;
        }
    }

    &__column {
        width: 100%;
        padding: 50px 0 34px 0;

        @media (max-width: 900px) {
            padding: 36px 0 20px 0;
        }
    }

    &__button {
        @include flexCenter($direction: row);
        .secondary-button {
            padding: 10.5px 20px;
        }
    }

    .line {
        width: 1px;
        background-color: $white;
        margin: 0 90px;
        @media (max-width: 900px) {
            margin: 0 54px;
        }
        @media (max-width: 720px) {
            margin: 0 34px;
        }

        @media (max-width: 680px) {
            width: 80%;
            height: 1px;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        @media (max-width: 480px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    div.line:last-child {
        display: none;
    }

}