
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'blocks/_variables.scss';
@import 'slick.scss';
@import 'custom-dropdown.scss';
@import 'blocks/_footer.scss';
@import 'blocks/_hero.scss';
@import 'blocks/_header.scss';
@import 'blocks/_blogs.scss';
@import 'blocks/_paragraph-area.scss';
@import 'blocks/_paragraph-title.scss';
@import 'blocks/_paragraph-image.scss';
@import 'blocks/_two-columns.scss';
@import 'blocks/_photo-section.scss';
@import 'blocks/_photo-title.scss';
@import 'blocks/_admission.scss';
@import 'blocks/_services.scss';
@import 'blocks/_form-admission.scss';
@import 'blocks/_photo-form.scss';
@import 'blocks/_slider-link.scss';
@import 'blocks/_team.scss';
@import 'blocks/_map-text.scss';
@import 'blocks/_legal.scss';
@import 'blocks/_testimonial.scss';
@import 'blocks/_video.scss';
@import 'blocks/_404.scss';


body {
    background-color: white;
}

h1, h2 {
    font-family: $alegreya;
    font-size: $h2-size;
    color: $shadow;
    font-weight: $p-normal-weight;
}

h3 {
    font-family: $alegreya;
    font-size: $h3-size;
    color: $shadow;
    font-weight: $p-normal-weight;
}

h4 {
    font-family: $alegreya;
    font-size: $h4-size;
    color: $shadow;
    font-weight: $p-normal-weight;
}

h5 {
    font-family: $alegreya;
    font-size: $h5-size;
    color: $shadow;
    font-weight: $p-normal-weight;
}

p {
    font-family: $alegreyaSans;
    font-size: $p-normal;
    color: $gray;
    line-height: 31px;
}

a {
    &:focus-visible {
        border: 2px solid black !important;
        outline: 2px solid yellow !important;
    }
}


// Inputs 

input {
    border: 2px solid $corianderOpacity;
    padding: 12.5px 0 12.5px 8px;
    width: 100%;
    font-size: $p-small;
    font-family: $alegreyaSans;
    height: 55px;
    color: $mustard-green;
    font-size: $p-small;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    &::placeholder {
        color: $mustard-green;
        font-size: $p-small;
        opacity: 1
    }

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
       color: $mustard-green !important;
       opacity: 1;
    }
      
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $mustard-green !important;
        opacity: 1;
      }
      
    :-ms-input-placeholder {
        /* IE 10+ */
        color: $mustard-green !important;
        opacity: 1;
      }
      
    :-moz-placeholder {
        /* Firefox 18- */
        color: $mustard-green !important;
        opacity: 1;
    }
}

textarea {
    border: 2px solid $corianderOpacity;
    padding: 12.5px 0 0 8px;
    width: 100%;
    font-size: $p-small;
    font-family: $alegreyaSans;
    resize: none;
    color: $mustard-green;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    &::placeholder {
        color: $mustard-green;
        font-size: $p-small;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
        color: $mustard-green !important;
        opacity: 1;
    }
      
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $mustard-green !important;
        opacity: 1;
      }
      
    :-ms-input-placeholder {
        /* IE 10+ */
        color: $mustard-green !important;
        opacity: 1;
      }
      
    :-moz-placeholder {
        /* Firefox 18- */
        color: $mustard-green !important;
        opacity: 1;
    }
}


//Button

.button {
    padding: 2px 48px;
    border: 2px solid $corianderOpacity;
    font-family: $alegreyaSans;
    font-size: $p-small;
    background-color: white;
    color: $mustard-green;
    margin-top: 20px;
    width: 139px;
    height: 39px;

    &:hover {
        background-color: $pale-silver;
        border: 2px solid $coriander;
        color: $white;
    }

    &:active {
        background-color: $coriander;
        border: 2px solid $pale-silver;
        color: $white;
    }

    &:focus {
        outline: 0;
        border: 2px solid $corianderOpacity;
    }

    &:focus-visible {
        border: 2px solid black !important;
        outline: 2px solid yellow !important;
    }
}

.secondary-button {
    background-color: $orinoco;
    padding: 5.5px 46px;
    color: $shadow;
    border: 2px solid $orinoco;

    &:hover {
        background-color: $dark-gray;
        color: #fff;
        text-decoration: none;
        border: 2px solid $dark-gray;
    }

    &:active {
        background-color: $orinoco;
        color: #fff;
        border: 2px solid $orinoco;
    }

    &:focus {
        outline: 0;
        border: 2px solid $corianderOpacity;
    }

    &:focus-visible {
        border: 2px solid #000!important;
        outline: 2px solid #ff0!important;
        background-color: #c9ceb1;
        text-decoration: none;
    }
}


// Accessibility

.input-focus {
    border: 2px solid $corianderOpacity;
    outline: solid 2px transparent !important;

    &:focus {
        border: 2px solid $coriander !important;
        outline: none !important;
        box-shadow: none;
    }
}

.input-focus-accessibility {

    &:focus {
        border: 2px solid black !important;
        outline: 2px solid yellow !important;
    }
}


// Error - Success

.error {
    border: 2px solid red !important;
}

.email-error-show {
    display: block !important;
    color: red;
    font-size: 12px;
    position: absolute;
    top: 53px;
}

.success {
    display: block !important;
    position: absolute;
    color: green;
    font-size: 12px;
    bottom: -2px;
}

// Hamburger

.fixed-position {
    position: fixed;
}

